@charset "UTF-8";

body {
	padding-top: 67px;
}

.navbar-dark {
  background-color: #1B5299 !important;
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited,
	.btn-primary:focus {
	background-color: #1B5299;
	border-color: #1B5299;
	vertical-align: baseline;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active,
	.btn-secondary:visited, .btn-secondary:focus {
	margin-bottom: 5px;
	margin-top: 5px;
}

.ceruleanLink {
	color: #4B92DB;
	text-decoration: underline;
}

tr:nth-child(odd) {
	background-color: #f2f2f2;
}


th {
	color: #1B5299;
	font-size: large;
	text-align: left;
	padding-right: 2rem;
	background-color: #f2f2f2;
}

td {
	text-align: left;
	padding-right: 2rem;
}

.nowrap {
	white-space: nowrap;
}

.buttonsColumn {
	text-align: center;
}